@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap');

* {
  font-family: 'Bebas Neue', sans-serif;
}

.body {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.button1 {
  border-radius: 20px;
  border: solid rgb(66, 168, 249) 1px;
  color: rgb(66, 168, 249);
  text-align: center;
  width: 500px;
  font-size: 32px;
  text-decoration: none;
}

.landing {
  height: 100vh;
  background-color: white;
}

.blue1 {
  color: rgb(66, 168, 249)
}

#text {
  width: 700px;
}

.image_div {
  position: relative;
  width: 700px;
  height: 500px;
}

@media screen and (max-width:768px) {

  .button1 {
    border-radius: 20px;
    border: solid rgb(66, 168, 249) 1px;
    color: rgb(66, 168, 249);
    text-align: center;
    width: 300px;
    font-size: 32px;
    text-decoration: none;
  }

  .landing {
    height: 100vh;
    background-color: white;
  }

  .blue1 {
    color: rgb(66, 168, 249)
  }

  #text {
    width: 300px;
  }

  .image_div {
    position: relative;
    width: 300px;
    height: 300px;
  }
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
}

.navbar-buttons a {
  margin: 0 5rem;
  font-size: 1.25rem;
  color: rgb(66, 168, 249);
}

.navbar-profile img {
  width: 50px;
  height: 50px;
}


.mainBody {
  z-index: 1;
}

.settingPro {
  height: 50px;
}

.loginModal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#drawer-disabled-backdrop {
  left: 320px;
}

.walkingButton:active {
  background-color: teal;
}

.direcIcons {
  border-bottom: 2px solid black;
}

.inputIcon {
  width: 20px;
  height: 20px;
  margin: auto 1.5rem;
  margin-left: 0;

}

#filterUser {
  border-bottom: 1px solid gray;
}