@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: ' Open Sans', 'Helvetica Neue', sans-serif;
}

.button1 {
  border-radius: 20px;
  border: solid rgb(66, 168, 249) 1px;
  color: rgb(66, 168, 249);
  text-align: center;
  width: 500px;
  font-size: 32px;
  text-decoration: none;
}

.landing {
  height: 100vh;
  background-color: white;
}

.blue1 {
  color: rgb(66, 168, 249)
}

#text {
  width: 700px;
}

.image_div {
  position: relative;
  width: 700px;
  height: 500px;
}

@media screen and (max-width:768px) {

  .button1 {
    border-radius: 20px;
    border: solid rgb(66, 168, 249) 1px;
    color: white;
    text-align: center;
    width: 300px;
    font-size: 32px;
    text-decoration: none;
  }

  .landing {
    height: 100vh;
    background-color: white;
  }

  .blue1 {
    color: rgb(66, 168, 249)
  }

  #text {
    width: 300px;
  }

  .image_div {
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 200px;
    margin: auto;
  }
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 168, 249);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
}

.navbar-buttons a {
  margin: 0 5rem;
  font-size: 1.25rem;
  color: white;
}

.navbar-profile img {
  width: 50px;
  height: 50px;
}


.mainBody {
  z-index: 1;
}

.settingPro {
  height: 50px;
}

.loginModal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#drawer-disabled-backdrop {
  left: 320px;
}

.direcIcons {
  border-bottom: 2px solid black;
}

.inputIcon {
  width: 20px;
  height: 20px;
  margin: auto 1.5rem;
  margin-left: 0;

}


.activatedPath {
  border: 1px solid rgb(66, 168, 249);
  border-radius: 30px;
  background-color: white;
  color: rgb(66, 168, 249);
  padding: 5px;
  box-shadow: 1px 2px 3px rgb(66, 168, 249);
  transition: 2s;
}

.land {
  margin: auto;
  text-align: center;
}

.regContainer {
  border-radius: 20px;
  width: 70%;
  margin: auto;
  display: flex;
  box-shadow: 0 0 10px 5px rgb(138, 211, 255);
}

.logoImg {
  height: 200px;
}

.adItem {
  display: flex;
  width: 40%;
  background-color: rgb(66, 168, 249);
  border-radius: 0 20px 20px 0;
}

.sideAd {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto 50px;


}

.mainItem {
  width: 60%;
}

.regForm {
  margin: auto;
  padding: 50px;
}